/* Default font-size set */
html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
  background-color: rgba(17, 17, 17, 0.897);
}

body {
  font-size: 2rem;
}

main {
  height: 95vh;
}
nav li {
  padding: 0 1rem;
}

#marvel-facts {
  font-style: italic;
  font-family: fantasy;
  font-weight: bold;
  padding: 1rem;
  color: rgb(40, 49, 59);
  background-color: rgb(230, 80, 54);
  border-radius: 0.5rem;
}

#h1a,
#h1b,
#h1c {
  display: none;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: white;
  opacity: 0.6;
  font-weight: bold;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.671);
}

.card-content {
  box-shadow: 1rem 1rem 1rem rgb(230, 80, 54);
}
.box {
  float: left;
  width: 25%;
  padding: 0.5rem;
}
.column {
  float: right;
  width: 75%;
}
#marvelQuizDiv {
  margin-bottom: 10rem;
  width: 75%;
}

#Marvel-Quiz-Image:hover {
  opacity: 0.7;
}
.comics-search:hover {
  opacity: 0.7;
}
.characters-search:hover {
  opacity: 0.7;
}
.creators-search:hover {
  opacity: 0.7;
}
#pages {
  display: none;
}
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background-color: white;
  opacity: 0.7;
  color: rgba(0, 0, 0, 0.671);
}
